<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body>
    <div class="menu">
        <div class="logo" src="/img/logo.svg"></div>
        <div class="produtos" href="/produtos">Produtos</div><!-- usavel para sites comerciais que vendam algum produto -->
        <div class="sobre">Sobre
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut esse harum saepe magnam a possimus suscipit ipsa dignissimos perspiciatis quo earum vitae, recusandae pariatur qui maiores fugiat excepturi doloremque optio.</p>
        </div>
        <div class="contato">Contato
            <a id="linkedin" src="/img/linkedin.svg" href="linkedin.com"></a><!-- usavel em sites estilo curriculo profissional -->
            <a id="whatsapp" src="/img/whatsapp.svg" href="whatsapp.com"></a>
            <a id="instagram" src="/img/instagram.svg" href="instagram.com"></a>
            <a id="facebook" src="/img/facebook.svg" href="facebook.com"></a>
            <a id="celular" src="/img/celular.svg">
                <p>(xx)xxxxx-xxxx</p>
                <p>(xx)xxxxx-xxxx</p>
            </a>
        </div>
    </div>
    <div class="banner">
        <div class="imgBanner">
        <img id="imgBanner" src="/img/logo.svg"></img>
        <img id="imgBanner" src="/img/logo.svg"></img>
        <img id="imgBanner" src="/img/logo.svg"></img>
    </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, impedit! Repellat nostrum ipsam labore temporibus, exercitationem accusamus molestias molestiae explicabo nemo voluptatem odit voluptatum suscipit vel? Sequi nostrum impedit iusto.</p>
    </div>
</body>
</html>